
{% extends 'base.html' %}
{% load static %}


{% block content %}
  
  <section id="hero">
    <div class="hero-container" data-aos="fade-in">
      
      <div class="herodiv">
      <h1 style="color: #414b3b;">BAALEI TESHUVA</h1>
      <h2 style="color: white;">In the place where a Baal Teshuva stands, a completely righteous person cannot stand. (Brachot 34b)</h2>
      </div> 
      
      
      <!-- <img src="{% static 'assets/img/hero-img.png' %}" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100"> -->
      <a href="#get-started" class="btn-get-started scrollto">Learn More</a>
      
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>introduction to Judaism!</h2>
          <!-- <p class="separator">Integer cursus bibendum augue ac cursus .</p> -->

        </div>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100" style="width: auto; margin: auto;">
            <div class="feature-block">

              <!-- <img src="{% static 'assets/img/svg/cloud.svg' %}" alt="img"> -->
              <!-- <h4>introduction to Judaism</h4> -->
              <p>This Website is a resource for Jewish Learning and finding local community resources for baalei teshuvas. Stick around and explore the possibilities.

                ​
                
                Here, you will find links to various website, organizations, and community resources. We hope that whatever questions you may have can be answered here.</p>
              

            </div>
          </div>          

        </div>
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h4>Learn About Shabbat</h4>
              <img src="{% static 'assets/img/candles.png' %}" class="carimage" alt="First slide">
              
            </div>
            <div class="carousel-item">
              <h4>Learn About Community</h4>
              <img src="{% static 'assets/img/synagogue.png' %}" class="carimage" alt="Second slide">
              
            </div>
            <div class="carousel-item">
              <h4>Have Fun</h4>
              <img src="{% static 'assets/img/wine.png' %}" class="carimage" alt="Third slide">
              
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

    </section><!-- End Get Started Section -->

   

    <!-- ======= Team Section ======= -->
    <section id="team" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>The Big 5 of Judaism</h2>
          <p class="separator">2 Rabbi's...3 opinions...As a jew who became observant later on in life, I wasn't sure where to start and what makes me "religious" or when can I say "I'm an Orthodox Jew". We have broken down the 5 pillars of Judaism to help our visitors get a better understanding of what makes someone an Orthodox Jew. Feel free to click below to learn more about these different elements.</p>
        </div>

      <div class="row">
        <div style="margin: auto; justify-content: center;" class="row">
            <div href='/big5' class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
            <a href="/big5">
            <div class="team-block bottom">
              <img src="{% static 'assets/img/candles.png' %}" class="img-responsive" alt="img">
              <h1 style="width: auto; margin: auto;">1</h1>
              <div class="team-content">
              
                <span>שַׁבָּת</span>
                <h4>Shabbat</h4>
              </div>
            </div>
            </a>
          </div>
        
          <div href='/big5' class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
            <a href="/big5">
            <div class="team-block bottom">
              <img src="{% static 'assets/img/tallit.png' %}" class="img-responsive" alt="img">
              <h1 style="width: auto; margin: auto;">1</h1>
              <div class="team-content">
              
                <span>דייבן</span>
                <h4>Davening</h4>
              </div>
            </div>
            </a>
          </div>
        
        </div>
        <div style="margin: auto; justify-content: center;" class="row">
          <div href='/big5' class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
            <a href="/big5">
            <div class="team-block bottom">
              <img src="{% static 'assets/img/kosher.png' %}" class="img-responsive" alt="img">
              <h1 style="width: auto; margin: auto;">1</h1>
              <div class="team-content">
              
                <span>כשר</span>
                <h4>Kashrus</h4>
              </div>
            </div>
          </a>
          </div>

          <div href='/big5' class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
            <a href="/big5">
            <div class="team-block bottom">
              <img src="{% static 'assets/img/tefillin.png' %}" class="img-responsive" alt="img">
              <h1 style="width: auto; margin: auto;">1</h1>
              <div class="team-content">
              
                <span>תפילין</span>
                <h4>Tefillin</h4>
              </div>
            </div>
          </a>
          </div>

          <div href='/big5' class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
            <a href="/big5">
            <div class="team-block bottom">
              <img src="{% static 'assets/img/jewish-wedding.png' %}" class="img-responsive" alt="img"> -->
              <h1 style="width: auto; margin: auto;">1</h1>
              <div class="team-content">
              
                <span>טהראס משפחה</span>
                <h4>Taharas Mishpacha</h4>
              </div>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>

      
    </section><!-- End Team Section -->

    
    <!-- ======= Newsletter Section ======= -->
    <section id="newsletter" class="newsletter text-center">
      <div class="overlay padd-section">
        <div class="container" data-aos="zoom-in">

          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6">
              <h2>BT Stories</h2>
              <p class="separator">Living a religious life, especially as a professional, can be challenging. Stories here are written about professional who have successfully incorporated an Orthodox lifestyle, despite the many challenges that they faced. The owner of this website has curated there stories from a personal friends. We hope that these stories bring you hope and encouragement, for becoming a Ba'al Teshuva (BT).</p>
              <button type="submit" class="btn btn-default"><a href="/btstories" style="color: white;">Read More</a></button>
              <!-- <form class="d-flex" method="POST" action="#">
                <input type="email" class="form-control " placeholder="Email Adress" name="email" style="margin-top: 10px;">
                <button type="submit" class="btn btn-default"><i class="bi bi-location-arrow"></i>Subscribe</button>
              </form> -->
            </div>
          </div>

    

        </div>
      </div>
    </section><!-- End Newsletter Section -->

    <!-- ======= Contact Section ======= -->
    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer">
    

    <div class="copyrights" style="background-color: #2a2c30; color: white;">
      <div class="container">
        <p style="color: white;">&copy; Copyrights Baalei Teshuva. All rights reserved.</p>
        <div class="credits">
          Designed by <a style="color: white" href="https://www.eddiekrayz.com">Eddie Krayz</a>
        </div>
      </div>
    </div>

  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock %}
 