{% extends 'base.html' %}
{% load static %}


{% block content %}

<section id="get-started" class="padd-section text-center">

  <div class="container" data-aos="fade-up">
    <div class="section-title text-center">

      <!-- <h2>WELCOME!</h2> -->
      

    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100" style="width: auto; margin: auto;">
        <div class="feature-block">

          <!-- <img src="{% static 'assets/img/svg/cloud.svg' %}" alt="img"> -->
          <h4>{{posts.title}}</h4>
          <p>{{posts.body}}</p>
          

        </div>
      </div>

      
      

    </div>
  </div>

</section>
{% endblock %}