{% extends 'base.html' %}

{% load static %}

{% block content %}


<section id="testimonials" class="padd-section text-center">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center">

      <div class="col-md-8">

        <div class="testimonials-content">
          <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner" role="listbox">
              
              {% for i in sublink %}
              <div class="carousel-item  active">
                <div class="top-top">

                  <h2>{{i.name}}</h2>
                  <p>Explore links below on the topic of {{i.name}}</p>
                  {% for i in sublink %}
                  <p><a href="{{i.link}}">{{i.subItems}}</a></p>
                  {% endfor %}
                  

                </div>
              </div>
              {% endfor %}
           

          </div>
        </div>
      </div>

    </div>
  </div>
</section>



{% endblock %}